name: Docker Build and Upload CI

on:
  push:
    branches:
      - 'main'

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and Push
        run: |
          for TOOL in *
          do
              if [ -d $TOOL ]; then
                  for TAG in $TOOL/*
                  do 
                      if [[ $TAG =~ Dockerfile_* ]]; then
                          IFS="_" read -ra newarr <<< "$TAG"
                          docker build --platform linux/amd64 -t ghcr.io/getwilds/$TOOL:${newarr[-1]} -f $TAG --push .
                      fi
                  done
              fi
          done



